h2 {
    color: #E7A977;
    font-size: 33px;
    border-radius: 40px;
    text-align: center;
}
body {
    background-image: url(https://wallpaperaccess.com/full/1216272.jpg);
    background-size: cover;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0px;
}
.writing {
    background-color: #648767;
    color: #0B2306;
    line-height: 32px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #502419;
    border-width: 3px;
    padding: 3px;
}
a {
    color: #0B2306;
    font-weight: 600;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    background-color: #648767;
    border-radius: 20px;
    
}
h1 {
    font-size: 2.5em;
    color: #e7a977;
    font-weight:800;
    text-align: center;
}
#photo {
    border-radius: 40px;
    float: right;
    margin-right: 60px;
    border: 3px solid #502419;
}
.codecamp {
    font-style: italic; 
    font-size: 20px;
    text-align: center;
    background-color: #648767;
    color: #0B2306;
    border-style: solid;
    border-color: #502419;
    border-width: 2px;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top: 3px;
}
.indexword {
    color: #E7A977;
    font-size: 30px;
    background-color: #502419;
    text-align: center;
    font-weight: bold;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: #E7A977;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top: 3px;
    margin-left: 10px;

}

#return {
    font-size: 30px;
    color: #E7A977;
    font-weight: 800;
    background-color: #502419;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #E7A977;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.titulo {
    background-color: #502419;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #E7A977;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.subtitulo {
    background-color: #502419;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #E7A977;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top: 3px;
    font-size: 38px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    

}

.indi {
    text-align: center;
    list-style-position: inside;
    border-radius: 20px;
    background-color: #648767;
    color: #0B2306;
    line-height: 26px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top: 3px;
    border: 3px solid #502419;
    line-height: 33px;
    
}
li {
    list-style-position: inside;
    color: #E7A977;
}
a:hover {
    color: #E7A977;
}
.indi:active {
    background-color: #502419;
}
a:active {
    background-color: #502419;
}
.codecamp:hover {
    color: #E7A977;
}
.codecamp:active {
    background-color: #502419;
}
.classe {
    border: 3px solid #502419;
    margin-left: 420px;
    padding-top: 20px;
    margin-bottom: 15px;
    background-image: url(https://image.shutterstock.com/image-illustration/green-grained-ultra-hd-background-260nw-1612884064.jpg);
    background-size: cover;
    border-radius: 34px;
    width: 40%;
    
}
.image-container {
    height: 400px;

}
.desc {
        background-color: #648767;
        color: #0B2306;
        line-height: 45px;
        font-weight: 600;
        font-size: 23px;
        border-radius: 20px;
        border-style: solid;
        border-color: #502419;
        border-width: 3px;
        padding:5px;
        margin-left: 100px;        
        
}
.separacao {
    height: 160px;
    width: 50%;
    margin-left: 350px;
    padding-bottom: 80px;
    border: 3px solid #502419;
    background-image: url(https://image.shutterstock.com/image-illustration/green-grained-ultra-hd-background-260nw-1612884064.jpg);
    background-size: cover;
    border-radius: 34px;
    margin-bottom: 15px;
    
}
.letras {
    height: 360px;
    background-image: url(https://image.shutterstock.com/image-illustration/green-grained-ultra-hd-background-260nw-1612884064.jpg);
    background-size: cover;
    position: absolute;
    width: 60%;
    left: 190px;
    border: 7px solid #502419;
    padding: 10px;
    border-radius: 70px;
}
#description {
    margin-left: 160px;
}
