h2 {
    color: #E7A977;
    background-color: #502419;
    font-size: 30px;
    border-radius: 40px;
}
body {
    background-color: #0B2306;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.writing {
    background-color: #648767;
    color: #0B2306;
    line-height: 26px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
}
a {
    color: #0B2306;
    font-weight: 600;
    text-decoration: none;
    line-height: 40px;
}
h1 {
    font-size: 2.5em;
    color: #e7a977;
    font-weight:800;
    text-align: center;
}
#photo {
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#codecamp {
    font-style: italic; 
    font-size: 18px;
}
#index {
    color: #E7A977;
    font-size: 23px;
    background-color: #502419;
}
.index {
    background-color: #648767;
    border-radius: 20px;
    font-size: 23px;
}
#return {
    font-size: 30px;
    color: #E7A977;
    font-weight: 800;
    background-color: #091E05;
}
.titulo {
    background-color: #502419;
}